@use "../abstracts/variables";

// initialization 
*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

a,
a:visited {
  text-decoration: none;
  display: block;
  color: variables.$clr-accent;
}

body {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
}

input {
  padding: 16px;
  line-height: 16px;
  font-size: 16px;
  cursor: pointer;
}

button {
  cursor: pointer;
  font-size: 16px;
  text-transform: capitalize;
}