@use "../abstracts/variables";

// initialization 
*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

//format a tag link
a,
a:visited {
  text-decoration: none;
  display: block;
  color: variables.$clr-accent;
}