.header {
    display: flex;
    justify-content: space-between;
    font-size: 16px;
    padding: 10px;
    &__avatar {
        display: inline-block;
        overflow: hidden;
        position: relative;
        width: 80px;
        height: 80px;

        .Avatar {
            position: absolute;
            top: 0;
            left: 0;
            width: 100%;
            height: 100%;
        }
    }
    &__logo {
        img {
            width: 260px;
            height: 50px;
            object-fit: cover;
            object-position: -10px -110px;
        }
    }
    &__link {
        &-admin {
            display: none;
        }
        &-deconnexion {
            cursor: pointer;
            border: 0;
            background-color: white;
        }
    }
}

// fait apparaître le lien pour l'administrateur seulement sur la page admin
.showAdminLink {
    display: initial;
}

// // fait disparaître l'avatar lorsqu'on est sur la page profile
// .showAvatarImage {
//     visibility: hidden;
// }
