@use "../../sass/abstracts/variables";
@use "../../sass/abstracts/mixins";

.postCard {
    @include mixins.card_shape;
    width: 100%;
    background-color: variables.$clr-mediumLight;
    display: grid;
    column-gap: 10px;
    grid-template-columns: 50px auto 5px;
    grid-template-areas:
        "avatar form"
        " . control";
    &_avatar {
        grid-area: avatar;
    }
    &_form {
        grid-area: form;
        input {
            @include mixins.input_shape;
        }
        div {
            margin-bottom: 10px;
        }
    }
    &_control {
        grid-area: control;
        display: flex;
        justify-content: space-between;
        flex-basis: auto;
        &_add,
        &_publier {
            background-color: variables.$clr-mediumLight;
            cursor: pointer;
        }
        &_publier {
            text-align: right;
        }
    }
}


//bouton pour l'input file
input[type="file"] {
    display: none;
}
.custom-file-upload {
    width: 200px;
    display: inline-block;
    padding: 6px 12px;
    cursor: pointer;
    color: black;
}
