@use "../../sass/abstracts/mixins";

// body-1 bloc principal du contenu
.pageContainer {
    @include mixins.breakpoint(mobile) {
        min-width: 375px;
    }
    @include mixins.breakpoint(tablet) {
        @include mixins.card_shape;
        min-width: 768px;
    }
    @include mixins.breakpoint(laptop) {
        min-width: 1024px;
    }
    margin: 10px 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
